<footer>
    <ul class="icons">
		<li><a href="{{ site.500px_url }}" class="fa-envelope-o" target="_blank">Email</a></li>
		<li><a href="{{ site.linkedin_url }}" class="fa-linkedin" target="_blank">LinkedIn</a></li>
	</ul>
</footer>

</section>

<!-- Footer -->
<footer id="footer">
	<ul class="copyright">
		<li>&copy; MS Solutions AS </li><li><a href="https://goo.gl/maps/7mmgHo6zMtK2" target="_blank">Thormøhlens gate 51, 5006 Bergen</a></li><li><a href="tel:+4740634490">Phone: (+47) 40634490</a>
	</ul>
</footer>

</div>

<!-- Scripts -->
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/respond.min.js"></script><![endif]-->
<script>
	if ('addEventListener' in window) {
		window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
		document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
	}
</script>
